<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <style type="text/css">
    body {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 15px;
    }
  </style>
</head>

<body>
  <div
    style="max-width: 680px; margin: 0 auto; border-top: solid 4px #1aa19c; padding: 16px; background-color: #f7f7f7;">
    <div>
      <img style="width: 50px; vertical-align: middle; margin-right: 5px;" alt="FollMe.eCard"
        src="https://res.cloudinary.com/hpit/image/upload/v1626016218/follme-logo_yv2ysn.png" />
      <span style="font-size: 20px; font-weight: bold;">FollMe.eCard</span>
    </div>
    <div style="text-align: center;">
      <div style="margin-top: 30px;">
        Bạn nhận được thư mời từ <b>{{sender}}!</b>
      </div>
      <a style="display: inline-block;margin-bottom: 40px; margin-top: 40px; padding: 12px; background-color: #ff6541; color: white; border-radius: 6px; text-decoration: none"
        href={{invitationUrl}}>Xem chi tiết</a>

      <div style="margin-bottom: 20px; opacity: 0.7;">
        Thư mời chỉ được sử dụng một lần, vui lòng không chia sẻ với bất kì ai.
      </div>
    </div>
  </div>
</body>
<footer style="padding: 30px 20px; text-align: center; background-color: rgba(65, 1, 37, 0.9); max-width: 680px; margin: 0 auto; color: white;">
  FollMe - Chia sẻ câu chuyện của bạn 😎
</footer>

</html>